:root {
	--syllabus-width: 175px;
	--syllabus-height: 35px;

	--purple: unset;
	--bg-color: #f3f3f3;
}


/*---------------------- nav -------------------*/

.nav-bar {
	width: 15%;
	height: 100px;
	margin: 0;
	background: purple;
	position: fixed;
	top: 0; 
	padding: 0px;
	margin: 0px;
}
.nav-bar > .element {
	width: 100%;
	line-height: 50px;
	text-align: center;
	color: white;
	display: inline-block;
	margin: 0;
	font-family: Arial;
	text-decoration: none;
}
.nav-bar > .element:hover { 
		text-decoration: underline;
}	


/*---------------------- main -------------------*/

.main {
	width: 80%;
	margin-left: 20%;
}

.title-header {
	margin: 0 5% 10px 0;
	padding-top: 25px;
	width: 95%;
	height: 30px;
}

.main-title {
	font-size: 25px;
	font-weight: bold;
	color: #545454;
	float: left;
}

.content {
	width: 80%;
	margin-left: 10%;
}


.title {
	font-size: 20px;
	margin: 25px 0 10px 0;
	font-weight: bold;
}

.sub-title {
	margin: 6px 0 0 0;
	font-size: 13px;
	color: #777777;
	width: 100%;
}

.first-body-text {
	margin: 20px 50px 20px 0;
}

.body-text {
	margin: 20px 150px 20px 0;
	text-indent: 2em;
}


