:root {
	--syllabus-width: 175px;
	--syllabus-height: 35px;

	--purple: unset;
	--bg-color: #f3f3f3;
}



body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-sarif;
    font-size: 100%;
    line-height: 1.7em;
    color: #000000;
}

#container {
    width: 70%;
    margin: 10px auto;
}

#top_row {
    border-bottom: 1px dotted #cccccc;
    padding: .5em .5em 3em .5em;
}

#content {
    float: left;
    width: 70%;
    margin: 0;
    padding: 1em;
    border-right: 1px dotted #ccc;
}
/*---------------------- Begin Nav bar -------------------*/

.nav-bar {
	width: 15%;
	height: 100%;
	margin: 0;
	background: purple;
	position: fixed;
	top: 0; 
	left: 0;
	padding: 0px;
	margin: 0px;
}
.nav-bar > .element {
	width: 100%;
	line-height: 50px;
	padding: 10px 0 10px 0;
	text-align: center;
	color: white;
	display: inline-block;
	margin: 0;
	font-family: Arial;
	text-decoration: none;
}
	
.nav-bar .tab {
	width: 100%;
	padding: 10px 0 10px 0;
	text-align: center;
	color: #f3f3f3;
	font-family: 'Arial';
	font-size: 13px;
	line-height: 27px;
	background: var(--purple);
}
.nav-bar .tab:hover {
	width: calc(100% + 10px);
	background: #00CED1;
	transition: all 0.25s linear 0s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transition-delay: 0s;	
}

/*---------------------- End Nav bar -------------------*/




/*---------------------- Begin Main -------------------*/

.main {
	width: 80%;
	margin-left: 20%;
}

.title-header {
	margin: 0 5% 10px 0;
	padding-top: 25px;
	width: 95%;
	height: 30px;
}

.main-title {
	font-size: 25px;
	font-weight: bold;
	color: #545454;
	float: left;
	margin: 0px 0px 0px 0px;
}

.content {
	width: 80%;
	margin-left: 0%;
	display: inline-block;
	font-family: Arial;
	font-size: 22px;	
}


.title {
	font-size: 20px;
	margin: 25px 0 10px 0;
	font-weight: bold;
}

.sub-title {
	margin: 6px 0 0 0;
	font-size: 13px;
	color: #777777;
	width: 100%;
}

.para-explain-text {
	margin: 0px 0px 0px 0px;
	display: inline-block;
	width: 100%;
}

.body-text {
	margin: 20px 150px 20px 0;
	text-indent: 2em;
}

/*---------------------- End Main -------------------*/


/*---------------------- Begin Footer -------------------*/

.footer {
	background: var(--purple);
	height: 32px;
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: purple;
}

.footer-comp:first-child {
	margin-left: 15%;
	float: left;
	width: 100px;
	height: 30px;
	transition: all 0.25s;
}

.footer-comp {
	float: left;
	width: 320px;
	height: 30px;
	transition: all 0.25s;
}

.footer-img {
	height: 65%;
	margin: 5%;
	margin-right: 10px;
	margin-left: 0px;
	border: none;
	float: left;
}

.footer-img-big {
	height: 60%;
	margin: 6%;
	margin-right: 10px;
	margin-left: 10px;
	border: none;
	float: left;
}

.footer-text {
	font-family: Arial;
	font-size: 14px;
	line-height: 30px;
	text-align: center;	
	color: white;
	float: right;
	margin: 0px 2px 0px 0px;
}


/*---------------------- End Footer -------------------*/


